header h1 {
    font-family: Fruktur;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.980);
    text-shadow: 0 0 23px rgba(2, 7, 5, 0.197);
}

div {
    font-family: Jost;
    font-weight: bold;
}

h4 {
    font-family: Reem Kufi;
    font-size: 24px;
}

h3 {
    font-size: 28px;
}

h3 {
    font-family: Jost;
}

p {
}

a {
    text-decoration: none;
    color: rgba(9, 82, 139, 0.921);
}

h2 {
    font-family: Bungee;
    font-size: 35px;
}

p {
    font-weight: bold;
    font-family: Jost;
    height: 25px;
    font-size: 22px;
}

ul {
    font-family: Pacifico;
    font-weight: normal;
    font-size: 16px;
    /*+placement: 58px -20px;*/
    position: relative;
    left: 58px;
    top: -20px;
}

p {
    /*+placement: 5px -7px;*/
    position: relative;
    left: 5px;
    top: -7px;
}

.helptext {
    /*+placement: 130px -1px;*/
    position: relative;
    left: 130px;
    top: -1px;
}

button {
    padding: 10px;
    border: 1px solid #000000;
    font-weight: bold;
    font-family: Black Ops One;
}

img {
    /*+placement: -340px 84px;*/
    position: relative;
    left: -340px;
    top: 84px;
    height: 270px;
    width: 280px;
    position: relative;
}

p {
    /*+placement: 3px -25px;*/
    position: relative;
    left: 3px;
    top: -25px;
}

p {
    padding: 0px;
    margin: 48px;
}

h2 {
    text-align: center;
}

.nav-right {
    text-align: right;
    /*+placement: -9px -56px;*/
    position: relative;
    left: -9px;
    top: -56px;
}

body {
}

.nav-right {
    font-family: Jost;
    font-weight: bold;
}

marquee {
    font-family: Bungee;
    font-weight: bold;
    background-color: #B5F4D4;
    font-size: 24px;
}

.para {
    position: relative;
    font-family: Jost;
    font-size: 11px;
    /*+placement: 806px 350px;*/
    position: relative;
    left: 806px;
    top: 350px;
}

h3 {
    position: relative;
    font-family: Jost;
    left: auto;
}
